# Ignore everything by default
*

# Whitelist docs folder (The Site)
!docs/
!docs/**

# Whitelist configuration
!.gitignore
!README.md

# Explicitly ignore python cache if it somehow sneaks in
__pycache__/
*.pyc

